@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-todo-blue: #001b42;
  --color-todo-yelow: #f6a800;
  --color-todo-brick : #e94e3c;
  --color-todo-green : #2e8b57;
  --color-todo-gray : #828282;
  --color-todo-cian : #78c0e3;
  --color-todo-beige : #efe3d3;
  --color-todo-otherbeige : #f9f6f2;
  --color-todo-darkcian : #1f3d6d;
}

